#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "from title"
    "to invInfo"
    "lineItemTable lineItemTable"
    "hline hline"
    "form form"
    ". invSum"
    "notes .";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    margin: 3% 12%;                 
}

#title {
    grid-area: title;
    display: flex;
    justify-content: flex-end;
    font-size: 2.5rem;
}

#fromInfo {
    grid-area: from;
}

#toInfo {
    grid-area: to;
}

.toFrom {
    display: flex;
    flex-direction: column;
}

.toFrom input {
    width: 50%;
    margin-bottom: 2%;
    border-radius: 5px;
}

#invoiceInfo {
    grid-area: invInfo;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#invInfoLeft {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-right: 5%;
}

#invInfoRight {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#invInfoRight input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0px;
}

#invInfoRight input {
    border-radius: 5px;
}

#lineItemTable {
    grid-area: lineItemTable;
    border-spacing: 0px;
    margin-top: 3%;
}

#lineItemTable tr td {
    padding-left: 2%;
}

#tableHeader {
    background-color: grey;
    color: white;
}

#tableHeader th {
    text-align: left;
    padding-left: 2%;
}

#lineItemForm {
    grid-area: form;
    display: flex;
    align-items: center;
}

#desc {
    width: 35%;
    margin-right: 8%;
    border-radius: 5px;
    resize: none;
}

#qty {
    width: 8%;
    height: 60%;
    margin-right: 5%;
    text-align: center;
    border-radius: 5px;
}

#rate {
    width: 8%;
    height: 60%;
    margin-right: 12%;
    text-align: center;
    border-radius: 5px;
}

#total {
    margin-right: 6%;
}

#lineItemForm input[type="submit"] {
    height: 60%;
}

td {
    word-wrap: break-word;
    max-width: 300px;
}

td > * {
    margin-top: 3%;
}

#invSummary {
    grid-area: invSum;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#subTotal, #taxLabelInput, #invTotal {
    margin-top: 1%;
    margin-left: 43.5%;
}

#tax {
    width: 15%;
    border-radius: 5px;
    text-align: right;
}

#invTotal {
    font-weight: bold;
}

.line {
    grid-area: hline;
    height: 2px;
    background-color: black;
    border: 0;
    width: 100%;
}

#notes {
    grid-area: notes;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

#notesTextArea {
    height: 200%;
    border-radius: 5px;
    margin-top: -3%;
    resize: vertical;
}

@media print {
    @page { margin: 0; }

    * {
        -webkit-print-color-adjust: exact;
     }

     form {
         visibility: hidden;
     }

     input, textarea {
         border: none;
     }

    input:-webkit-autofill, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px white inset !important;
    }

     input::placeholder, textarea::placeholder {
        color: transparent;
    }

    #subTotal, #taxLabelInput, #invTotal {
        margin-left: 34%;
    }
  }