#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "from title"
    "to invInfo"
    "lineItemTable lineItemTable"
    "hline hline"
    "form form"
    ". invSum"
    "notes ."
    "print print"
    "footer footer";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    margin: 3% 12%;                 
}

#printDiv {
    grid-area: print;
    margin-top: 2%;
}

#printBtn {
    border-radius: 5px;
    height: 150%;
    background-color: royalblue;
    color: white;
}

#title {
    grid-area: title;
    display: flex;
    justify-content: flex-end;
    font-size: 2.5rem;
}

#fromInfo {
    grid-area: from;
}

#toInfo {
    grid-area: to;
}

.toFrom {
    display: flex;
    flex-direction: column;
}

.toFrom input {
    width: 50%;
    margin-bottom: 2%;
    border-radius: 5px;
}

#invoiceInfo {
    grid-area: invInfo;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#invInfoLeft {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-right: 5%;
}

#invInfoRight {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#invInfoRight input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0px;
}

#invInfoRight input {
    border-radius: 5px;
}

#lineItemTable {
    grid-area: lineItemTable;
    border-spacing: 0px;
    margin-top: 3%;
}

#lineItemTable tr td {
    padding-left: 2%;
}

#tableHeader {
    background-color: grey;
    color: white;
}

#tableHeader th {
    text-align: left;
    padding-left: 2%;
}

#lineItemForm {
    grid-area: form;
    display: flex;
    align-items: center;
}

#desc {
    width: 35%;
    margin-right: 8%;
    border-radius: 5px;
    resize: none;
}

#qty {
    width: 8%;
    height: 60%;
    margin-right: 5%;
    text-align: center;
    border-radius: 5px;
}

#rate {
    width: 8%;
    height: 60%;
    margin-right: 12%;
    text-align: center;
    border-radius: 5px;
}

#total {
    margin-right: 6%;
}

#lineItemForm input[type="submit"] {
    height: 60%;
}

td {
    word-wrap: break-word;
    max-width: 300px;
}

td > * {
    margin-top: 3%;
}

#invSummary {
    grid-area: invSum;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#subTotal, #taxLabelInput, #invTotal {
    margin-top: 1%;
    margin-left: 43.5%;
}

#tax {
    width: 15%;
    border-radius: 5px;
    text-align: right;
}

#invTotal {
    font-weight: bold;
}

.line {
    grid-area: hline;
    height: 2px;
    background-color: black;
    border: 0;
    width: 100%;
}

#notes {
    grid-area: notes;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

#notesTextArea {
    height: 200%;
    border-radius: 5px;
    margin-top: -3%;
    resize: vertical;
}

footer {
    grid-area: footer;
    margin-top: 4%;
    font-size: 70%;
    color: grey;
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
#gridContainer {
    grid-template-columns: 80vw;
    grid-template-areas: 
    "title"
    "from"
    "to"
    "invInfo"
    "lineItemTable"
    "hline"
    "form"
    "invSum"
    "notes"
    "print"
    "footer";
    font-size: 95%;
    margin: 3% 10%;               
}

#title {
    justify-content: space-around;
}

.toFrom input {
    width: 75vw;
    height: 2em;
}

#invoiceInfo {
    margin-top: 1.5em;
    margin-left: 0em;
    justify-content: flex-start;
}

#invInfoRight {
    margin-top: 0px;
}

#invInfoRight input[type="checkbox"] {
    margin-top: -5%;
}

#invInfoRight input[type="text"], #invInfoRight input[type="date"] {
    height: 1.4em;
}

#lineItemTable {
    margin-top: 5%;
}

#tableHeader {
    font-size: .85em;
}

#lineItemForm {
    flex-direction: column;
    align-items: flex-start;
}

#lineItemForm > * {
    margin-bottom: .5em;
}

#desc {
    height: 8em;
    width: 75vw;
}

#qty, #rate {
    width: 75vw;
}

#total {
    align-self: center;
}

#lineItemForm input[type="submit"] {
    align-self: center;
    width: 10em;
}

#invSummary > * {
    margin-left: 0px;
}

#printDiv {
    margin-top: .5em;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
}

#printBtn {
    height: 3.5em;
}

}

@media print {
@page { margin: 0; }

* {
    -webkit-print-color-adjust: exact;
}

form, #printBtn, footer {
    visibility: hidden;
}

input, textarea {
    border: none;
}

input:-webkit-autofill, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}

input::placeholder, textarea::placeholder {
    color: transparent;
}

#subTotal, #taxLabelInput, #invTotal {
margin-left: 34%;
}
}